body {
  height: 100vh;
  width: 100%;
  display: flex;
  margin: auto;
}
.container {
  display: flex;
  margin: auto;
}

.quiz,
.result {
  border: 1px solid #ccc;
  margin: 3rem;
  padding: 1.2rem;
  border-radius: 8px;
}

.quiz {
  background-color: rgb(113, 194, 241);
}

.quiz p {
  font-size: 1.2rem;
  font-weight: 550;
}

.quiz input[type="text"] {
  padding: 0.4rem 0.3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}

.quiz input[type="checkbox"] {
  width: 60px;
}

.result {
  visibility: hidden;
  background-color: #eee;
  min-width: 370px;
}

#btn {
  margin: 1rem;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  background-color: rgb(30, 127, 184);
  color: #ffff;
  border: none;
  border-radius: 5px;
  outline: none;
}
#btn:hover {
  opacity: 0.9;
}

#btn::active {
  scale: 0.8;
}

.result #pic {
  min-width: 350px;
  height: 300px;
  /* width: 80%; */
  background: center center/cover;
}
