@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: hsl(210, 36%, 96%);
}
h1 {
  position: relative;
  font-size: 2.5rem;
}

h1::after {
  position: absolute;
  bottom: -20%;
  left: 25%;
  content: "";
  width: 50%;
  height: 4px;
  background-color: hsl(205, 89%, 70%);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 5em;
  padding: 2em 0;
  max-width: 750px;
  width: 87%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.profile,
.profile::before {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.profile {
  background: url(person-1.jpeg) center center/cover;
  position: relative;
}
.profile:hover {
  border: 2px solid hsl(205, 89%, 70%);
}

.profile::before {
  content: "";
  background-color: hsl(205, 89%, 70%);
  position: absolute;
  right: -4%;
  top: -2%;
  z-index: -1;
}

.profile i {
  color: #fff;
  background-color: hsl(205, 89%, 70%);
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  left: 10%;
}

.fullName {
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-top: 1em;
  font-size: 1.3rem;
}

.job {
  text-transform: uppercase;
  color: hsl(205, 89%, 70%);
  padding: 0.7em;
  font-size: 14px;
  font-weight: 600;
}

.review {
  width: 89%;
  max-width: 550px;
  padding-bottom: 0.7em;
  color: #222;
  font-size: 17px;
  margin: 0 auto;
}

.content i {
  color: hsl(205, 89%, 70%);
  font-size: 1.7em;
  margin: 0.2em 0.5em 0.8em;
}

.content i:hover {
  transform: scale(1.2);
}

.random {
  display: block;
  margin: 0 auto;
  border: 1px solid hsl(205, 89%, 70%);
  border-radius: 10px;
  color: hsl(205, 89%, 70%);
  font-size: 20px;
  padding: 0.4em 0.6em;
}

.random:hover {
  color: #fff;
  background-color: hsl(205, 89%, 70%);
}
