@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;500&display=swap");
/* ===== Global styles ===== */

body {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(238, 238, 238);
}

.questions {
  width: 95%;
  max-width: 600px;
  /* height: 28vh; */
  flex-direction: column;
  border-radius: 10px;
}

h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: goldenrod;
  font-size: 3rem;
  letter-spacing: 4px;
}

.box {
  width: 90%;
  background-color: #fff;
  padding: 1em 1em 0.5em;
  margin: 1em auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  transition: all 0.3s linear;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question p {
  font-size: 18px;
  margin: 0;
}
.btn-question {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: goldenrod;
  transition: all 0.2s linear;
}

.btn-question:hover {
  transform: rotate(90deg);
}

.btn-question:active {
  outline: none;
}

.answer {
  display: none;
}

.answer p {
  border-top: 1px solid #ccc;
  padding-top: 1em;
}

.fa-minus-square {
  display: none;
}

/* showing minus icon when answer is visible */
.show-answer .fa-minus-square {
  display: inline;
}

/* hide plus icon when answer is hidden */
.show-answer .fa-plus-square {
  display: none;
}

.show-answer .answer {
  display: block;
}
