@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif SC", serif;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-center {
  /* position: relative; */
  text-align: center;
  font-size: 2.7rem;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 24%;
}

.line-left,
.line-right {
  content: "";
  width: 35px;
  height: 3px;
  background-color: black;
}

.nav {
  position: relative;
  width: 100%;
  /* height: :px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 4em 0;
  z-index: 3;
}

.nav .top {
  padding: 0.5em;
}
.logo img {
  width: 100px;
}

/* ******** Menu ******** */
.menu {
  transition: all 0.3s linear;
}

.menu ul {
  list-style: none;
  display: flex;
}
.menu li {
  margin-left: 3em;
}

.menu a {
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-decoration: none;
  /* color: #fff; */
  color: #fff;
  text-transform: capitalize;
}
.fixed {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 33;
  transition: all 0.4s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.fixed a {
  color: #333;
}

/* ******** hamburger menu ******** */
.bars {
  background-color: transparent;
  border: none;
  font-size: 2.1rem;
  display: none;
  outline: none;
  padding-right: 0.7em;
  color: rgb(22, 98, 219);
}
.bars i {
  transition: all 0.3s linear;
}
.bars i:hover {
  transform: rotate(90deg);
}

/* ******** Showcase ******** */
.container {
  height: 100vh;
}

.showcase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(images/index.jpg) center center/cover;
  z-index: -3;
}

.showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7));
}

.center {
  z-index: 1;
  width: 600px;
  max-width: 90%;
  flex-direction: column;
  color: white;
  text-align: center;
}

.center h1 {
  font-size: 3.5rem;
}

.center p {
  font-size: 1.19rem;
  margin: 1em 0 1.4em;
}

.explore {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0.35em 1.2em;

  font-size: 1.6rem;
}

/* ********** Features ********** */
.cards {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  margin: 0 4em;
}

.card {
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1em 2em;
}

.card img {
  width: 85%;
  margin: 0 auto;
}

.card .title {
  font-size: 17px;
  font-weight: 600;
  padding: 0.8em 0;
  position: relative;
}
.card .title::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #000;
}

.card .sub-title {
  padding: 0.8em 0;

  font-size: 24px;
  font-weight: 600;
}

.card .info {
  line-height: 1.57;
}

.card a {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-family: "Noto Serif SC", serif;
  font-size: 18px;
  font-weight: 400;
  margin: 1em auto;
  width: 50%;
  padding: 0.5em 1em;
}

.card a:hover {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
}

/* ********** MODELS ********** */
.models {
  width: 100%;
  padding: 2em 0;
  background-color: #f4f4f4;
}
.model img {
  display: block;
  margin: 0 auto;
  width: 600px;
  max-width: 90%;
}

.colors {
  display: block;
  text-align: center;
  margin-top: 2em;
}
.btn {
  width: 70px;
  height: 70px;
  background-color: #000;
  padding: 1.4em 1.2em;
  margin-right: 0.5em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  font-size: 24px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19), 0 2px 4px rgba(0, 0, 0, 0.23);
}

.btn i {
  color: rgb(12, 194, 12);
  position: absolute;
  top: -15%;
  right: 0%;
  display: none;
}

.btn:focus {
  border: 2.5px solid rgb(14, 168, 14);
}

.btn:focus .fa-check-circle-o {
  display: initial;
}
.green {
  background-color: #163826;
}
.blue {
  background-color: rgb(0, 0, 184);
}
.black {
  background-color: black;
}
.grey {
  background-color: #807a78;
}
.popper {
  background-color: #f3ecdc;
}

/* ********** CONTACTS ********** */
.contacts {
  background-color: #f4f4f4;
  width: 100%;
  padding: 2em 0;
}
.row {
  width: 95%;
  max-width: 920px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.row-top {
  margin: 2em auto;
  padding: 1em;
  width: 90%;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-around;
}
.col-1 {
  display: flex;
  align-items: center;
}

.col-1 i {
  color: #85b0be;
  font-size: 22px;
  margin: -44px 18px 0 0;
}

.col-1 h4 {
  font-size: 22px;
}

.col-1 p {
  color: #0d6e9e;
  font-size: 16px;
  margin-top: 8px;
  line-height: 1.4;
}

.input-fields {
  width: 90%;
  padding: 1em;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}
.input-fields input,
.message {
  font-family: "Noto Serif SC", serif;
  font-size: 17px;
  padding: 0.6em;
  margin: 8px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.name,
.email {
  width: 49.6%;
}
.row-grid {
  width: 90%;
}
.subject,
.message {
  width: 100%;
}
.submit {
  color: #1590ce;
  background-color: #fff;
  font-size: 19px;
  padding: 0.6em;
  margin-top: 0.3em;
  border: none;
  border: 1px solid #1590ce;
  border-radius: 3px;
}
.submit:hover {
  background-color: #1590ce;
  color: #fff;
}
.submit:active {
  transform: scale(0.97);
}

/* ********** Footer ********** */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
}
footer ul {
  list-style: none;
  display: flex;
}
footer li {
  margin: 0 0.6em;
}
footer a {
  text-decoration: none;
  color: #fff;
}
.socials a,
.fa-arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.fa-arrow-up {
  background-color: #fff;
  color: #212529;
  margin-left: 5em;
}
.fa-arrow-up:hover {
  transform: scale(1.2);
}

/* ********** Media Queries ********** */
@media (max-width: 790px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    padding: 0;
  }
  .logo img {
    width: 60px;
  }
  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    padding: 0.5em 0 0 0.7em;
  }

  .top button {
    display: initial;
  }

  .nav,
  .menu {
    background-color: #fff;
  }

  .menu {
    border-top: 1px solid rgba(121, 121, 121, 0.1);
    /* padding-bottom: 0.2em; */
  }

  .menu ul {
    width: 100%;
    display: block;
  }

  .menu li {
    padding: 0.3em 0;
    margin: 0;
  }

  .menu a {
    color: #333;
    padding: 5px 0 5px 0.7em;
    display: block;
    transition: all 0.3s linear;
  }

  .menu a:hover {
    padding-left: 1.3em;
    font-size: 1.6rem;
    color: #000;
  }
  /* HIDE MENU */
  .menu {
    height: 0;
    overflow: hidden;
  }
  /* show MENU */
  .show-menu {
    height: 220px;
  }

  .center h1 {
    font-size: 3rem;
  }

  .row-top {
    flex-direction: column;
    align-items: center;
  }
  .col-1 {
    padding: 0.7em 0;
  }
  .name,
  .email {
    width: 100%;
  }
}
